:root {
  --infos-pos: 65%;
  /* info pos from bottom */
  --buttons-pos: 60%;
  /* buttons pos from top */
  --session-pos: 8%;
  /* session type pos from bottom */
}

@font-face {
  font-family: JetBrains;
  src: url("../font/JetBrainsMono-Regular.ttf");
}

* {
  font-family: JetBrains;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  padding: 0;
  background: gray;
}

.pomodoro-container {
  top: 40px;
  max-width: 500px;
  margin: 0 auto 0 auto;
  font-size: 1rem;
  color: #f3f3f3;
  text-align: center;
  position: relative;
}

.sessions {
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 1.25rem;
}

.tasks {
  font-size: 1.7rem;
}

.display {
  font-size: 7rem;
}

.buttons {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  top: var(--buttons-pos);
}

.button {
  background: green;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.button i {
  border-color: #f3f3f3;
  border-width: 1;
  margin-top: 0.7rem;
}

li.reset {
  margin-left: 2rem;
  background: white;
}

.tasks,
.buttons,
.sessions {
  position: absolute;
  bottom: var(--infos-pos);
  left: 50%;
  transform: translateX(-50%);
}

.sessions {
  bottom: var(--session-pos);
}
